// colors
$primary-color: #ffff;
$foreground_color: #a9a9a9;
$blue_color: #1976d2;
$light_grey: #cccc;
$grey: #a9a9a9;
$orange: #ffa500;
$purple: #800080;
$red: #ff0000;

// font sizes
$font-size-8 : 8px;
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-16: 16px;

$font-size-24: 24px;

// font-weight
$font-weight-normal: 600;
$font-weight-light: 300;
$font-weight-bold: 800;
