@import "../../../globalStyles/_variables.scss";

.header {
  width: 100%;
  background-color: $primary-color;
  border-radius: 4px;
  &-container {
    padding: 15px;
  }
  &-details {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    flex-wrap: wrap;
    .w-50 {
      @media (max-width: 600px) {
        width: 50%;
      }
    }
    .m-mobile-20 {
      @media (max-width: 600px) {
        margin-top: 20px;
      }
    }

    p {
      font-size: $font-size-12;
      font-weight: 600;
    }
    span {
      font-size: 10px;
      color: $grey;
    }
    &-sub {
      display: flex;
      gap: 34px;
      margin-top: 10px;
      @media (max-width: 600px) {
        justify-content: space-between;
      }
    }
    .p-mobile-30 {
      @media (max-width: 600px) {
        padding-right: 30px;
      }
    }
    .m-10 {
      margin-top: 10px;
    }
    .c-blue {
      color: $blue_color;
    }
    .c-purple {
      color: $purple;
    }
    .c-orange {
      color: $orange;
    }

    .c-red {
      color: $red;
    }
  }

  .divider {
    border: 1px solid $light_grey;
    @media (max-width: 600px) {
      display: none;
    }
  }
  .align-right {
    text-align: right;
  }
}
